<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Resume Screening System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-5">

    <div class="card shadow p-4">
        <h1 class="text-center mb-4">
            AI Resume Screening System
        </h1>

        <p class="text-center">
            Upload your resume (PDF only) to check job match score.
        </p>

        <form method="POST" enctype="multipart/form-data" id="resumeForm">

            <label for="name">Name:</label>
            <input type="text" name="name" id="name"
                   class="form-control"
                   placeholder="Enter your name" required>

            <br>

            <label for="email">Email:</label>
            <input type="email" name="email" id="email"
                   class="form-control"
                   placeholder="Enter your email" required>

            <br>

            <label>Select Job role:</label>

            <select name="job_role" id="job" class="form-select">
                <option value="">--Select Job Role--</option>
                <option value="Data Scientist">Data Scientist</option>
                <option value="Web Developer">Web Developer</option>
                <option value="Java Developer">Java Developer</option>
                <option value="Software Engineer">Software Engineer</option>
            </select>

            <br>

            <label for="resume">Upload Resume (PDF only):</label>

            <input type="file"
                   name="resume"
                   accept=".pdf"
                   required
                   id="resume"
                   class="form-control">

            <br>

            <button type="submit" class="btn btn-primary w-100">
                Upload Resume
            </button>

        </form>
    </div>
</div>

<script>
document.getElementById("resumeForm").addEventListener("submit", function(event){

    let name = document.getElementById("name").value;
    let email = document.getElementById("email").value;
    let job = document.getElementById("job").value;
    let resume = document.getElementById("resume").value;

    if(name === "" || email === "" || job === "" || resume === ""){
        alert("Please fill out all fields.");
        event.preventDefault();
        return;
    }

    alert("Form validated successfully!");
});
</script>

</body>
</html>